node_modules
package-lock.json
/database/tugas-mhs.json
/database/status-dosen.json
apikeys.json
DB_allert/reminders_db.json
logs.json

/prisma/migrations/
/prisma/dev.db

.env
.idea
.vscode
.DS_Store