version: "3.9"

services:
  app:
    build: .
    container_name: gunadarma-scraper-api
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
      - sqlite_data:/app/prisma  # persist SQLite
    command: ["npm", "start"]

volumes:
  sqlite_data:
